# IMPORT LIBRARY

In [5]:
import pandas as pd
import numpy as np

# MEMBUAT VARIABEL

In [ ]:
df = pd.read_csv("car_price_prediction.csv")

# MENGAMBIL INFORMASI

In [12]:
info = {
  'jumlah_record': 0,
  'atribut': [],
  'atribut_objek': 0,
  'atribut_angka': 0,
  'atribut_null': 0
}

info['jumlah_record'] = df.shape[0]
info['atribut'] = list(df.columns.values)
info['atribut_objek'] = list(df.select_dtypes(['object']).columns)
info['atribut_angka'] = list(df.select_dtypes(['float64', 'int64']).columns)
info['atribut_null'] = list(df.loc[:, df.isnull().any()].columns)

# JUMLAH RECORD

In [13]:
print("Jumlah Record :", info['jumlah_record'] )

Jumlah Record : 19237

# NAMA ATRIBUT DAN JUMLAH ATRIBUT

In [14]:
print("Atribut Yang Ada :", info['atribut'])
print("Jumlah Atribut :", len(info['atribut']))

Atribut Yang Ada : ['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year', 'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage', 'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color', 'Airbags']
Jumlah Atribut : 18

# ATRIBUT DENGAN TIPE OBJEK

In [22]:
print("Nama Atribut Dengan Tipe Objek :", info['atribut_objek'])
print("Jumlah Atribut Dengan Tipe Objek :", len(info['atribut_objek']))

Nama Atribut dengan Tipe Objek : ['Levy', 'Manufacturer', 'Model', 'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color']
Jumlah Atribut Dengan Tipe Objek : 13

# ATRIBUT DENGAN TIPE ANGKA

In [24]:
print("Nama Attribute Dengan Tipe Angka :", info['atribut_angka'])
print("Jumlah Atribut Dengan Tipe Angka :", len(info['atribut_angka']))

Nama Attribute Dengan Tipe Angka : ['ID', 'Price', 'Prod. year', 'Cylinders', 'Airbags']
Jumlah Atribut Dengan Tipe Angka : 5

# JUMLAH ATRIBUT DENGAN TIPE NULL

In [27]:
print("Nama Attribute yang Memiliki Nilai Null :", info['atribut_null'])
print("Jumlah Atirbut Yang Memiliki Nilai Null :",len(info['atribut_null']))

Nama Attribute yang Memiliki Nilai Null : []
Jumlah Atirbut Yang Memiliki Nilai Null : 0

# MENAMPILKAN NILAI RATA - RATA, STD, MIN, MAX, Q1, Q2, Q3

In [30]:
df.describe()

                 ID         Price    Prod. year     Cylinders       Airbags
count  1.923700e+04  1.923700e+04  19237.000000  19237.000000  19237.000000
mean   4.557654e+07  1.855593e+04   2010.912824      4.582991      6.582627
std    9.365914e+05  1.905813e+05      5.668673      1.199933      4.320168
min    2.074688e+07  1.000000e+00   1939.000000      1.000000      0.000000
25%    4.569837e+07  5.331000e+03   2009.000000      4.000000      4.000000
50%    4.577231e+07  1.317200e+04   2012.000000      4.000000      6.000000
75%    4.580204e+07  2.207500e+04   2015.000000      4.000000     12.000000
max    4.581665e+07  2.630750e+07   2020.000000     16.000000     16.000000

# MENAMPILKAN NILAI KORELASI BERTIPE ANGKA

In [32]:
df.corr()

C:\Users\KYC\AppData\Local\Temp\ipykernel_15440\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                  ID     Price  Prod. year  Cylinders   Airbags
ID          1.000000 -0.000844    0.071352  -0.039319 -0.020527
Price      -0.000844  1.000000    0.012982   0.007518 -0.012824
Prod. year  0.071352  0.012982    1.000000  -0.096797  0.236969
Cylinders  -0.039319  0.007518   -0.096797   1.000000  0.176868
Airbags    -0.020527 -0.012824    0.236969   0.176868  1.000000

# MENGUBAH TIPE DATA ATRIBUT DARI INTEGER MENJADI FLOAT

<h5> TYPE DATA AWAL

In [34]:
df.dtypes

ID                    int64
Price                 int64
Levy                 object
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

<h5> MENGUBAH PRICE DARI INTEGER KE FLOAT

In [36]:
df["Price"] = df["Price"].astype("float64")

<h5> TYPE DATA AKHIR

In [37]:
df.dtypes

ID                    int64
Price               float64
Levy                 object
Manufacturer         object
Model                object
Prod. year            int64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage              object
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors                object
Wheel                object
Color                object
Airbags               int64
dtype: object

In [38]:
df.head(10)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467.0,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4
5,45802912,39493.0,891,HYUNDAI,Santa FE,2016,Jeep,Yes,Diesel,2,160931 km,4.0,Automatic,Front,04-May,Left wheel,White,4
6,45656768,1803.0,761,TOYOTA,Prius,2010,Hatchback,Yes,Hybrid,1.8,258909 km,4.0,Automatic,Front,04-May,Left wheel,White,12
7,45816158,549.0,751,HYUNDAI,Sonata,2013,Sedan,Yes,Petrol,2.4,216118 km,4.0,Automatic,Front,04-May,Left wheel,Grey,12
8,45641395,1098.0,394,TOYOTA,Camry,2014,Sedan,Yes,Hybrid,2.5,398069 km,4.0,Automatic,Front,04-May,Left wheel,Black,12
9,45756839,26657.0,-,LEXUS,RX 350,2007,Jeep,Yes,Petrol,3.5,128500 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12

# MENAMPILKAN 10 RECORD PERTAMA ATRIBUT ANGKA

In [39]:
df_angka = df.select_dtypes(include=np.number)
df_angka.head()

         ID    Price  Prod. year  Cylinders  Airbags
0  45654403  13328.0        2010        6.0       12
1  44731507  16621.0        2011        6.0        8
2  45774419   8467.0        2006        4.0        2
3  45769185   3607.0        2011        4.0        0
4  45809263  11726.0        2014        4.0        4

# MENYIMPAN DATASET BERTIPE ANGKA KE CSV

In [47]:
df_angka.to_csv("dataset_angka.csv")